<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Lista kursów</title>
    <link rel="stylesheet" th:href="@{/css/list.css}">
</head>
<body>
Jesteś zalogowany jako: <span sec:authentication="name"></span> <br><br>
<div sec:authorize="isAuthenticated()">
    Wykorzystujesz role:<br>
    <span sec:authentication="principal.authorities"></span>
</div>

<header th:replace="fragments/header :: title"></header>
<header th:replace="fragments/header :: menu"></header>

<span sec:authorize="hasAuthority('ROLE_TEACHER')">Jesteś trenerem</span> <br><br>
<h1 th:text="${attributeId}"></h1>
<table>
    <tr>
        <th>ID</th>
        <th>Nazwa kursu</th>
        <th>Data startu</th>
        <th>Data zakończenia</th>
        <th>Miasto</th>
        <th>Cena</th>
        <th>Tryb</th>
        <th>Trener prowadzący</th>
        <th>Opcje</th>
    </tr>
    <!--     <tr>-->
    <!--        <td>1</td>-->
    <!--        <td>"SDA Java od podstaw"</td>-->
    <!--        <td>10.10.2019</td>-->
    <!--        <td>10.10.2020</td>-->
    <!--        <td>Warszawa</td>-->
    <!--        <td>12000</td>-->
    <!--    </tr>-->
    <!--    <tr>-->
    <!--        <td>2</td>-->
    <!--        <td>"Angular"</td>-->
    <!--        <td>10.12.2019</td>-->
    <!--        <td>10.12.2020</td>-->
    <!--        <td>Warszawa</td>-->
    <!--        <td>8000</td>-->
    <!--    </tr>-->
    <tr th:each="course: ${courseList}">
        <td th:text="${course.id}"></td>
        <td th:text="${course.name}"></td>
        <td th:text="${course.startDate}"></td>
        <td th:text="${course.endDate}"></td>
        <td th:text="${course.city}"></td>
        <td th:text="${course.price}"></td>
        <td th:text="${course.courseMode.getDescription()}"></td>
        <td th:if="${course.teacher} != null" th:text="${course.teacher.firstName} + ' ' + ${course.teacher.lastName}"></td>
        <td th:unless="${course.teacher} != null"></td>
        <td><a th:href="@{/studenci/dodaj-studenta/{courseId}(courseId=${course.id})}">Zapisz się</a></td>
    </tr>
</table>

</body>
</html>
