<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student registration</title>
</head>
<body>
<form th:action="@{'/kurs/dodaj-studenta'}" th:object="${student}" th:method="'post'">
    <label for="name">Imię:</label>
    <input type="text" id="name" th:field="*{name}">
    <label for="surname">Nazwisko:</label>
    <input type="text" id="surname" th:field="*{surname}">
    <label for="email">Email:</label>
    <input type="text" id="email" th:field="*{email}">
    <label for="phoneNumber">Telefon:</label>
    <input type="text" id="phoneNumber" th:field="*{phoneNumber}">
    <label for="courseId">Nazwa kursu:</label>
    <select name="courseId" id="courseId" th:field="*{courseId}">
        <option th:each="course: ${courses}" th:value="${course.id}" th:text="${course.id}"></option>
    </select>
    <input type="submit" value="Add Student">
</form>
</body>
</html>
